# DeskMini-Server with Ubuntu 20.04
Host deskmini-server
  HostName 192.168.2.54
  User yusiwen

# Macbook
Host macbook
  HostName 192.168.2.52
  User yusiwen

Host vps01
  HostName vps01
  User root

Host aliyun01
  HostName aliyun01
  User root

Host aliyun02
  HostName aliyun02
  User root

Host aliyun03
  HostName aliyun03
  User root

Host pve
  HostName 192.168.2.250
  User root
  Port 22

Host deskmini-pve
  HostName 192.168.2.251
  User root
  Port 22

Host k8s-vm-master
  HostName 192.168.2.69
  User yusiwen
  Port 22

Host k8s-vm-node01
  HostName 192.168.2.67
  User yusiwen
  Port 22

Host k8s-vm-node02
  HostName 192.168.2.68
  User yusiwen
  Port 22

Host k8s-vm-node03
  HostName 192.168.2.66
  User yusiwen
  Port 22

Host k8s-vm-node04
  HostName 192.168.2.65
  User yusiwen
  Port 22

Host k8s-vm-node05
  HostName 192.168.2.64
  User yusiwen
  Port 22

Host rpi4b-node01
  HostName 192.168.2.56
  User yusiwen
  Port 22

Host rpi4b-node02
  HostName 192.168.2.57
  User yusiwen
  Port 22

Host rpi4b-node03
  HostName 192.168.2.58
  User yusiwen
  Port 22

Host raspberry-server-m01
  HostName 192.168.2.48
  User yusiwen
  Port 22

Host lattepanda-server-01
  HostName 192.168.2.47
  User yusiwen
  Port 22

Host devserver-department
  HostName devserver-department
  Port 22022
  User yusiwen
