[Unit]
Description=Sync postgresql backups to minio
Wants=postgresql-backups-sync2minio.timer

[Service]
Type=oneshot
ExecStart=/usr/local/bin/mc mirror -q --overwrite --remove /var/lib/postgresql/backup k8s/backup/aliyun02/postgresql

[Install]
WantedBy=multi-user.target
