[Unit]
Description=Trigger syncing postgresql backups to minio
Requires=postgresql-backups-sync2minio.service

[Timer]
Unit=postgresql-backups-sync2minio.service
OnCalendar=*-*-* 05:15:00

[Install]
WantedBy=timers.target
