[submodule "oh-my-zsh"]
	path = shell/oh-my-zsh
	url = https://github.com/yusiwen/oh-my-zsh.git
[submodule "LS_COLORS"]
	path = shell/LS_COLORS
	url = https://github.com/yusiwen/LS_COLORS.git
[submodule "i3/i3bang"]
	path = i3/i3bang
	url = https://github.com/yusiwen/i3bang.git
[submodule "logitech/k380-function-keys-conf"]
	path = logitech/k380-function-keys-conf
	url = https://github.com/jergusg/k380-function-keys-conf.git
