[submodule "solarized"]
	path = solarized
	url = git@github.com:yusiwen/solarized.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:yusiwen/oh-my-zsh.git
[submodule "base16/base16-xresources"]
	path = base16/base16-xresources
	url = git@github.com:chriskempson/base16-xresources.git
[submodule "base16/base16-vim"]
	path = base16/base16-vim
	url = git@github.com:chriskempson/base16-vim.git
[submodule "base16/base16-shell"]
	path = base16/base16-shell
	url = git@github.com:chriskempson/base16-shell.git
[submodule "ls--"]
	path = ls--
	url = git@github.com:yusiwen/ls--.git
[submodule "rofi"]
	path = rofi
	url = git@github.com:yusiwen/rofi.git
[submodule "mc"]
	path = mc
	url = git@github.com:yusiwen/mc.git
