[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:yusiwen/oh-my-zsh.git
[submodule "ls--"]
	path = ls--
	url = git@github.com:yusiwen/ls--.git
[submodule "LS_COLORS"]
	path = LS_COLORS
	url = git@github.com:yusiwen/LS_COLORS.git
[submodule "i3/i3bang"]
	path = i3/i3bang
	url = git@github.com:yusiwen/i3bang.git
