[Desktop Entry]
Type=Application
Version=1.0
Name=Eclipse Java Kepler SR1
Exec=/home/yusiwen/eclipse-java-kepler-SR1/eclipse
Icon=/home/yusiwen/eclipse-java-kepler-SR1/icon.xpm
Terminal=false
Categories=GTK;Development;IDE;
StartupNotify=true
