# This file describes the network interfaces available on your system
# For more information, see netplan(5).
network:
  version: 2
  ethernets:
    {{INTERFACE}}:
      dhcp4: false
      addresses: [{{ADDRESS}}/{{SUBNET}}]
      gateway4: {{GATEWAY}}
      nameservers:
        addresses: [{{DNS}}]
  
