# put this file in 
#   /etc/udev/rules.d

# available scheduler for specific device stored in 
#   /sys/class/block/sdx/queue
# 'x' should be letter [a-z], pointing to the existing drive.

# set deadline scheduler for non-rotating disks
# Solid-State Drive should use [noop] scheduler
ACTION=="add|change", KERNEL=="sd[a-z]", ATTR{queue/rotational}=="0", ATTR{queue/scheduler}="noop"

# set cfq scheduler for rotating disks
# if the kernel (like liquorix, linux-pf kernels) supports 'bfq', then 'bfq' is preferred
ACTION=="add|change", KERNEL=="sd[a-z]", ATTR{queue/rotational}=="1", ATTR{queue/scheduler}="cfq"
