[Unit]
Description=Aria2c Web Interface
After=network-online.target aria2c.service
Wants=aria2c.service

[Service]
Type=simple
User=deluge
User=deluge
WorkingDirectory=/opt/www/webui-aria2
ExecStart=/usr/bin/node /opt/www/webui-aria2/node-server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
