[Unit]
Description=Trigger syncing mysql backups to minio
Requires=mysql-backups-sync2minio.service

[Timer]
Unit=mysql-backups-sync2minio.service
OnCalendar=*-*-* 05:15:00

[Install]
WantedBy=timers.target
