[Unit]
Description=Sync mysql backups to minio
Wants=mysql-backups-sync2minio.timer

[Service]
Type=oneshot
ExecStart=/usr/local/bin/mc mirror -q --overwrite --remove /data/mysql-backup/mysql k8s/backup/aliyun01/mysql

[Install]
WantedBy=multi-user.target
