[Unit]
Description=Trigger syncing upsource backups to minio
Requires=upsource-backups-sync2minio.service

[Timer]
Unit=upsource-backups-sync2minio.service
OnCalendar=*-*-* 05:40:00

[Install]
WantedBy=timers.target
